# Compiled Object files
*.o
*.obj
*.a

# Executables
*.bin
*.elf

# PROS
bin/
.vscode/
.cache/
compile_commands.json
temp.log
temp.errors
*.ini
.d/

# Random
docs/img
docs/*.html
docs/Doxyfile
docs/*.ico
docs/*.css
docs/*.js
project.pros
Makefile
common.mk 
*.csv


# Headers
include/vex
include/pros
include/display
include/api.h
include/main.h 


# Source
firmware/