# Compiled Object files
*.o
*.obj

# Executables
*.bin
*.elf

# PROS
bin/
.vscode/
.cache/
compile_commands.json
temp.log
temp.errors
*.ini
.d/
/include/vex/
/include/pros/
/include/display/
/firmware/
/include/api.h
/include/main.h
project.pros
Makefile
common.mk
docs/